.header {
	display: flex;
	align-items: center;
	.menu {
		display: flex;
		width: 100%;
		justify-content: end;
		gap: 20px;
		height: 40px;
		.links {
			display: flex;
			align-items: center;
			gap: 20px;
			.link {
				a {
					color: rgba(0, 0, 0, 0.87);
					text-decoration: none;
					font-size: 13px;
					line-height: 24px;
					vertical-align: middle;
					white-space: nowrap;
					user-select: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.tools {
			display: flex;
			align-items: center;
			gap: 10px;
			.menu-icon {
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					padding: 8px;
					&:hover {
						background-color: rgba(60, 64, 67, 0.08);
					}
					svg {
						width: 24px;
						height: 24px;
						color: #5f6368;
						fill: currentColor;
						line-height: normal;
					}
				}
			}
			.user-icon {
				a {
					padding: 4px;
					display: flex;
					border-radius: 50%;
					&:hover {
						background-color: rgba(60, 64, 67, 0.08);
					}
					img {
						background-size: 32px 32px;
						width: 32px;
						height: 32px;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
